body {
    text-align: center;
    margin: 0;
    background-color: lightskyblue;
    border-style: solid;
    border-width: 50px;
    border-color: lightslategray;
}

.all {
    font-family: Arial;
    margin: 0 auto;
}

.scores {
    text-align: left;
    margin-left: 150px;
}

.options {
    align-items: center;
    display: flex;
    justify-content: space-evenly;
}
